.App {
max-width:400px;
margin:auto;
}


img{
  width:100%
}
a{
  text-decoration: none;
}
.nav{
  background-color: aqua;


}
h1{
  text-align: center;
  color:white;
}

.column{
  display: flex;
  flex-direction: row;

}

.column img{
  padding: 1em;
  height:100px;
  width:auto
}

.column-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.details img{

  height:250px;
  width:auto
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;

}


input[type=text], input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: aqua;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.err{
  text-align: center;
  color:red;
}


